<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        huodongUI
    </title>
    
    <script type="text/javascript">
        /*rem初始化*/ ! function (a) {
            function b() {
                if (a.navigator.appVersion.match(/window|ipad|Mac/gi)) {
                    m = f.getBoundingClientRect().width > 960 ? 720 : f.getBoundingClientRect().width;
                } else {
                    m = f.getBoundingClientRect().width;
                }
                a.rem = m / 16;
                f.style.fontSize = a.rem + "px";
            }

            var c, d = a.navigator.appVersion.match(/iphone/gi) ? a.devicePixelRatio : 1,
                e = 1 / d,
                f = document.documentElement,
                g = document.createElement("meta");
            if (a.dpr = d, a.addEventListener("resize", function () {
                clearTimeout(c), c = setTimeout(b, 300)
            }, !1), a.addEventListener("pageshow", function (a) {
                a.persisted && (clearTimeout(c), c = setTimeout(b, 300))
            }, !1), f.setAttribute("data-dpr", d), g.setAttribute("name", "viewport"), g.setAttribute("content", "initial-scale=" + e + ", maximum-scale=" + e + ", minimum-scale=" + e + ", user-scalable=no"), f.firstElementChild) f.firstElementChild.appendChild(g);
            else {
                var h = document.createElement("div");
                h.appendChild(g), document.write(h.innerHTML)
            }
            b()
        }(window);
    </script>
</head>

<body>
    <div id=app>
    </div>
</body>

</html>

<script>
</script>

<script src="https://cdn.bootcss.com/eruda/1.4.1/eruda.js"></script>
<script>eruda.init()</script>